<!DOCTYPE html>
<html>
<head>
  <title>Add Movie</title>
</head>
<body>
  <h1>Add a New Movie</h1>
  <form action="/movies" method="POST">
    <label>Title: <input type="text" name="title"></label><br>
    <label>Genre: <input type="text" name="genre"></label><br>
    <label>Rating: <input type="text" name="rating"></label><br>
    <button type="submit">Add Movie</button>
  </form>
  <a href="/movies">Back to list</a>
</body>
</html>